<% title = 'Cursos' %> <!-- Establecer el título -->

<%- include('../partials/layoutsAdmin.ejs'); %> 
<body>
    <div class="wrapper">
        <%- include('../partials/sidebarAdmin.ejs'); %> 

        <div id="main-content" class="main p-3">

            <%- include('../partials/header.ejs'); %>

            <!-- contenido principal -->
            <div class="contenedor-dashboard">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h1 class="titulo-dashboard" id="tituloCurso">Lista de Cursos</h1>
                    <a href="/crearCurso" class="btn1" id="addCourseBtn">Añadir curso</a>
                </div>

                <div class="fondo-dashboard">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Curso</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="courseList">
                            <% cursos.forEach((curso, index) => { %> <!-- Iterar sobre los cursos pasados desde el controlador -->
                                <tr id="courseRow<%= curso.id_materia %>">
                                    <th scope="row" id="courseNumber<%= index + 1 %>"><%= curso.id_materia %></th>
                                    <td id="courseName<%= index + 1 %>"><%= curso.nombre %></td>
                                    <td id="courseActions<%= index + 1 %>">
                                        <a href="/ver_preguntas/<%= curso.id_materia %>" class="btn btn-sm btn-success" id="viewQuestionsBtn<%= curso.id_materia %>">Ver preguntas</a>
                                        <a href="/editarCurso/<%= curso.id_materia %>" class="btn btn-sm btn-warning" id="editCourseBtn<%= curso.id_materia %>">Editar</a>
                                        <button class="btn btn-sm btn-danger" data-type="course" data-id="<%= curso.id_materia %>" id="deleteCourseBtn<%= curso.id_materia %>">Eliminar</button>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/endPageAdmin.ejs'); %>
</body>
