<% 
  const examTypeNames = {
    1: "Fase 1",
    2: "Fase 2",
    3: "Cepu Verano 1",
    4: "Cepu Verano 2",
    5: "Cepu Otoño 1",
    6: "Cepu Otoño 2",
    7: "Cepu Invierno 1",
    8: "Cepu Invierno 2",
    
  };

  const getExamTypeName = (type) => examTypeNames[type] || "Tipo desconocido";
%>



<%- include('../partials/layoutsAdmin.ejs'); %> 
<body>
    <div class="wrapper">
        <%- include('../partials/sidebarUser.ejs'); %> 

        <div id="main-content" class="main p-3">
            <%- include('../partials/header.ejs'); %>

            <!-- Main content -->
            <div id="dashboard-container" class="contenedor-dashboard">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h1 class="titulo-dashboard" id="tituloExamen">
                        Exámenes canal <span id="canalNumero">
                            <% if (examenes.length > 0) { %>
                                <%= examenes[0].canal %>
                            <% } else { %>
                                N/A
                            <% } %>
                        </span>
                    </h1>
                    <a href="/crear_examen" class="btn1" id="addExamBtn">Iniciar examen aleatorio</a>
                </div>

                <div class="d-flex flex-column p-2" id="examenes-lista">
                    <% if (examenes && examenes.length > 0) { %>
                        <% examenes.forEach(examen => { %>
                            <a href="javascript:void(0);" class="contenedor-nombre-examen mb-2" id="examen<%= examen.id_exam %>" onclick="toggleOptions('examen<%= examen.id_exam %>')">
                                <div class="p-3">
                                    <h5 class="titulo-examen">Examen <%= getExamTypeName(examen.exam_type) %> - <%= examen.year %></h5>
                                </div>
                            </a>
                            <div id="options-examen<%= examen.id_exam %>" class="options-container">
                                <button class="btn1 btn-seleccion" onclick="window.location.href='/userModoPractica';">Modo Práctica</button>
                                <button class="btn1 btn-seleccion">Modo Simulacro</button>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p>No hay exámenes disponibles para este canal.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/endPageAdmin.ejs'); %>
</body>

<script>
    function toggleOptions(examenId) {
        const optionsContainer = document.getElementById(`options-${examenId}`);
    
        // Toggle the 'show' class
        optionsContainer.classList.toggle('show');
    
        // Hide other options when clicking on a new exam
        document.querySelectorAll('.options-container').forEach(container => {
            if (container !== optionsContainer) {
                container.classList.remove('show');
            }
        });
    }
</script>
