<%- include('../partials/layoutsAdmin.ejs'); %> 

<!-- Imprimir el arreglo de cursos -->

<body>
    <div class="wrapper">
        <%- include('../partials/sidebarUser.ejs'); %> 

        <div id="main-content" class="main p-3">
            <%- include('../partials/header.ejs'); %>

            <!-- Main content -->
            <div id="dashboard-container" class="contenedor-dashboard">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h1 class="titulo-dashboard" id="tituloCurso">
                        Cursos canal <span id="canalNumero"><!-- Backend can insert channel number here --></span><br>
                        <span class="texto-pequeño">Selecciona un curso y elige la cantidad de preguntas con las que deseas practicar.</span>
                    </h1>
                    
                    <a href="/userGenerarAleatorio" class="btn1" id="addExamBtn">Iniciar examen aleatorio</a>

                </div>

                <div class="d-flex flex-column p-2" id="cursos-lista">
                  

                    <!-- Iterar sobre el arreglo de cursos -->
                    <% cursos.forEach(curso => { %>
                        <a href="javascript:void(0);" class="contenedor-nombre-curso mb-2" id="curso<%= curso.id_materia %>" onclick="toggleOptions('curso<%= curso.id_materia %>')">
                            <div class="p-3">
                                <h5 class="titulo-curso"><%= curso.nombre %></h5>
                            </div>
                        </a>
                        <div id="options-curso<%= curso.id_materia %>" class="options-container">
                            <div class="dropdown">
                                <select class="form-select custom-width" id="modoPractica<%= curso.id_materia %>" onchange="handlePracticaSelect('<%= curso.id_materia %>')">
                                    <option value="10">10 preguntas <i class="bi bi-1-circle"></i></option>
                                    <option value="20">20 preguntas <i class="bi bi-2-circle"></i></option>
                                    <option value="30">30 preguntas <i class="bi bi-3-circle"></i></option>
                                </select>
                            </div>
                            
                            <button class="btn1 btn-seleccion" onclick="enviarPractica('<%= curso.id_materia %>')">Practicar</button>

                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/index.js"></script>
    <script type="module" src="/js/genericFunctions.js"></script>
    <script src="/js/user.js"></script>
    
    
    </body>

<script>
    function toggleOptions(cursoId) {
        const optionsContainer = document.getElementById(`options-${cursoId}`);
    
        // Toggle the 'show' class
        optionsContainer.classList.toggle('show');
    
        // Hide other options when clicking on a new course
        document.querySelectorAll('.options-container').forEach(container => {
            if (container !== optionsContainer) {
                container.classList.remove('show');
            }
        });
    }

    function enviarPractica(cursoId) {
        // Obtener la cantidad de preguntas seleccionada
        const cantidad = document.getElementById(`modoPractica${cursoId}`).value;
        console.log("ID de curso:", cursoId, "Cantidad de preguntas:", cantidad);

        // Construir la URL con los parámetros necesarios
        const url = `/userModoPracticaCursos/${cursoId}/${cantidad}`;

        // Realizar la solicitud GET y redirigir
        window.location.href = url;
    }
</script>



