<%- include('../partials/layoutsAdmin.ejs'); %>
<body>
    <div class="wrapper">
        <%- include('../partials/sidebarUser.ejs'); %>

        <div id="main-content" class="main p-3">
            <%- include('../partials/header.ejs'); %>

            <!-- Contenido principal -->
            <div class="contenedor-dashboard" id="dashboard-container">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h1 class="titulo-dashboard" id="tituloExamen">Selecciona y resuelve examenes de tu canal!</h1>
                    <a href="/userGenerarAleatorio" class="btn1" id="addExamBtn">Iniciar examen aleatorio</a>
                </div>

                <div class="d-flex justify-content-between" id="canales-container">
                    <!-- Iterar sobre los canales -->
                    <% canales.forEach(canal => { %>
                        <a href="/userSeleccionarExamen/<%= canal.id_canal %>" class="fondo-dashboard-link" id="canal<%= canal.id %>Link">
                            <div class="fondo-dashboard pearl p-4" id="canal<%= canal.id %>">
                                <!-- Nombre del Canal -->
                                <h4 class="titulo-dashboard2" id="canal<%= canal.id %>Titulo"><%= canal.nombre %></h4>
                                <hr class="separator-line" id="canal<%= canal.id %>Separator">
                                
                                <!-- Subtítulo del Canal (usamos un campo como ejemplo o puedes agregarlo al modelo) -->
                                <p class="subtitle-dashboard" id="canal<%= canal.id %>Subtitulo"></p>
                                
                                <!-- Listado de Materias asociadas al Canal -->
                                <ul class="lista-cursos" id="canal<%= canal.id %>Cursos">
                                    <% canal.Materia.forEach(materia => { %>
                                        <li><%= materia.nombre %></li>
                                    <% }); %>
                                </ul>
                            </div>
                        </a>
                    <% }); %>
                </div>
                
            </div>
        </div>
    </div>

    <%- include('../partials/endPageAdmin.ejs'); %>
</body>
